<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

	<servlet>
		<servlet-name>Describe</servlet-name>
		<servlet-class>plantrdf.servlet.DescribeServlet</servlet-class>
		<init-param>
			<param-name>sesameUrl</param-name>
			<param-value>openrdf-sesame/</param-value>
		</init-param>
		<init-param>
			<param-name>username</param-name>
			<param-value>plantrdf</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>m3tl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Describe</servlet-name>
		<url-pattern>/gardens/*</url-pattern>
	</servlet-mapping>

</web-app>

